  @media only screen and (min-width: 1349px){
    #screen8.responsiveInfo{
      display: block
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1348px){
    #screen7.responsiveInfo{
      display: block
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1199px){
    #screen6.responsiveInfo{
      display: block
    }

    /* gcompany - employees */
    #gtable-employees.gtable .gtable-cell.col6{
      display: none;
    }
    #gtable-employees.gtable .moreDetailsContainer li.col,
    #gtable-employees.gtable .moreDetailsContainer{
      display: block;
    }

    /*gclient - customer search*/
    #gtable-client_clientsearch.gtable .gtable-cell.col5{
      display: none;
    }

    #gtable-client_clientsearch .moreDetailsContainer li.col5,
    #gtable-client_clientsearch.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client by gender and location*/
    .gtable-client_clientby.gtable .gtable-cell.col7{
      display: none;
    }

    .gtable-client_clientby .moreDetailsContainer li.col7,
    .gtable-client_clientby.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - supplier search*/
    #gtable-client_suppsearch.gtable .gtable-cell.col5,
    #gtable-client_suppsearch.gtable .gtable-cell.col6{
      display: none;
    }

    #gtable-client_suppsearch .moreDetailsContainer li.col5,
    #gtable-client_suppsearch .moreDetailsContainer li.col6,
    #gtable-client_suppsearch.gtable .moreDetailsContainer {
      display: block;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px){
    #screen5.responsiveInfo{
      display: block
    }

    /* gcompany - employees */
    #gtable-employees.gtable .gtable-cell.col6{
      display: none;
    }
    #gtable-employees.gtable .moreDetailsContainer li.col6,
    #gtable-employees.gtable .moreDetailsContainer{
      display: block;
    }

    /*gclient - customer search*/
    #gtable-client_clientsearch.gtable .gtable-cell.col4,
    #gtable-client_clientsearch.gtable .gtable-cell.col5{
      display: none;
    }

    #gtable-client_clientsearch .moreDetailsContainer li.col4,
    #gtable-client_clientsearch .moreDetailsContainer li.col5,
    #gtable-client_clientsearch.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client by gender and location*/
    .gtable-client_clientby.gtable .gtable-cell.col7{
      display: none;
    }

    .gtable-client_clientby .moreDetailsContainer li.col7,
    .gtable-client_clientby.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client list*/
    #gtable-client_clientlist.gtable .gtable-cell.col4,
    #gtable-client_clientlist.gtable .gtable-cell.col5{
      display: none;
    }

    #gtable-client_clientlist .moreDetailsContainer li.col4,
    #gtable-client_clientlist .moreDetailsContainer li.col5,
    #gtable-client_clientlist.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - supplier search*/
    #gtable-client_suppsearch.gtable .gtable-cell.col5,
    #gtable-client_suppsearch.gtable .gtable-cell.col6{
      display: none;
    }

    #gtable-client_suppsearch .moreDetailsContainer li.col5,
    #gtable-client_suppsearch .moreDetailsContainer li.col6,
    #gtable-client_suppsearch.gtable .moreDetailsContainer {
      display: block;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 767px){
    #screen4.responsiveInfo{
      display: block;
    }

    /* gcompany - employees */
    #gtable-employees.gtable .gtable-cell.col4,
    #gtable-employees.gtable .gtable-cell.col5,
    #gtable-employees.gtable .gtable-cell.col6{
      display: none;
    }
    #gtable-employees.gtable .moreDetailsContainer li.col4,
    #gtable-employees.gtable .moreDetailsContainer li.col5,
    #gtable-employees.gtable .moreDetailsContainer li.col6,
    #gtable-employees.gtable .moreDetailsContainer{
      display: block;
    }

    /*gclient - customer search*/
    #gtable-client_clientsearch.gtable .gtable-cell.col2,
    #gtable-client_clientsearch.gtable .gtable-cell.col3,
    #gtable-client_clientsearch.gtable .gtable-cell.col4,
    #gtable-client_clientsearch.gtable .gtable-cell.col5{
      display: none;
    }

    #gtable-client_clientsearch .moreDetailsContainer li.col2,
    #gtable-client_clientsearch .moreDetailsContainer li.col3,
    #gtable-client_clientsearch .moreDetailsContainer li.col4,
    #gtable-client_clientsearch .moreDetailsContainer li.col5,
    #gtable-client_clientsearch.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client by gender and location*/
    .gtable-client_clientby.gtable .gtable-cell.col4,
    .gtable-client_clientby.gtable .gtable-cell.col6,
    .gtable-client_clientby.gtable .gtable-cell.col7{
      display: none;
    }

    .gtable-client_clientby .moreDetailsContainer li.col4,
    .gtable-client_clientby .moreDetailsContainer li.col6,
    .gtable-client_clientby .moreDetailsContainer li.col7,
    .gtable-client_clientby.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client list*/
    #gtable-client_clientlist.gtable .gtable-cell.col2,
    #gtable-client_clientlist.gtable .gtable-cell.col3,
    #gtable-client_clientlist.gtable .gtable-cell.col4,
    #gtable-client_clientlist.gtable .gtable-cell.col5{
      display: none;
    }

    #gtable-client_clientlist .moreDetailsContainer li.col2,
    #gtable-client_clientlist .moreDetailsContainer li.col3,
    #gtable-client_clientlist .moreDetailsContainer li.col4,
    #gtable-client_clientlist .moreDetailsContainer li.col5,
    #gtable-client_clientlist.gtable .moreDetailsContainer {
      display: block;
    }

     /*gclient - client list details*/
    #gtable-client_clientlistdet.gtable .gtable-cell.col3,
    #gtable-client_clientlistdet.gtable .gtable-cell.col4,
    #gtable-client_clientlistdet.gtable .gtable-cell.col5,
    #gtable-client_clientlistdet.gtable .gtable-cell.col6,
    #gtable-client_clientlistdet.gtable .gtable-cell.col7{
      display: none;
    }

    #gtable-client_clientlistdet .moreDetailsContainer li.col3,
    #gtable-client_clientlistdet .moreDetailsContainer li.col4,
    #gtable-client_clientlistdet .moreDetailsContainer li.col5,
    #gtable-client_clientlistdet .moreDetailsContainer li.col6,
    #gtable-client_clientlistdet .moreDetailsContainer li.col7,
    #gtable-client_clientlistdet.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - product by supplier and category*/
    .gtable-client_prodby.gtable .gtable-cell.col3,
    .gtable-client_prodby.gtable .gtable-cell.col4,
    .gtable-client_prodby.gtable .gtable-cell.col5,
    .gtable-client_prodby.gtable .gtable-cell.col6 {
      display: none;
    }

    .gtable-client_prodby .moreDetailsContainer li.col3,
    .gtable-client_prodby .moreDetailsContainer li.col4,
    .gtable-client_prodby .moreDetailsContainer li.col5,
    .gtable-client_prodby .moreDetailsContainer li.col6,
    .gtable-client_prodby.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - supplier search*/
    #gtable-client_suppsearch.gtable .gtable-cell.col3,
    #gtable-client_suppsearch.gtable .gtable-cell.col4,
    #gtable-client_suppsearch.gtable .gtable-cell.col5,
    #gtable-client_suppsearch.gtable .gtable-cell.col6,
    #gtable-client_suppsearch.gtable .gtable-cell.col9 {
      display: none;
    }

    #gtable-client_suppsearch .moreDetailsContainer li.col3,
    #gtable-client_suppsearch .moreDetailsContainer li.col4,
    #gtable-client_suppsearch .moreDetailsContainer li.col5,
    #gtable-client_suppsearch .moreDetailsContainer li.col6,
    #gtable-client_suppsearch .moreDetailsContainer li.col9,
    #gtable-client_suppsearch.gtable .moreDetailsContainer {
      display: block;
    }

    /*gtime - time entry */
    #gtable-time_timeentry.gtable .gtable-cell.col6,
    #gtable-time_timeentry.gtable .gtable-cell.col7 {
      display: none;
    }

    #gtable-time_timeentry .moreDetailsContainer li.col6,
    #gtable-time_timeentry .moreDetailsContainer li.col7,
    #gtable-time_timeentry.gtable .moreDetailsContainer {
      display: block;
    }
  }
  @media only screen and (min-width: 480px) and (max-width: 599px){
    #screen3.responsiveInfo{
      display: block
    }

    /* gcompany - employees */
    #gtable-employees.gtable .gtable-cell.col3,
    #gtable-employees.gtable .gtable-cell.col4,
    #gtable-employees.gtable .gtable-cell.col5,
    #gtable-employees.gtable .gtable-cell.col6{
      display: none;
    }
    #gtable-employees.gtable .moreDetailsContainer li.col3,
    #gtable-employees.gtable .moreDetailsContainer li.col4,
    #gtable-employees.gtable .moreDetailsContainer li.col5,
    #gtable-employees.gtable .moreDetailsContainer li.col6,
    #gtable-employees.gtable .moreDetailsContainer{
      display: block;
    }

    /* gclient - customer search */
    #gtable-client_clientsearch.gtable .gtable-cell.col2,
    #gtable-client_clientsearch.gtable .gtable-cell.col3,
    #gtable-client_clientsearch.gtable .gtable-cell.col4,
    #gtable-client_clientsearch.gtable .gtable-cell.col5,
    #gtable-client_clientsearch.gtable .gtable-cell.col7,
    #gtable-client_clientsearch.gtable .gtable-cell.col7{
      display: none;
    }

    #gtable-client_clientsearch .moreDetailsContainer li.col2,
    #gtable-client_clientsearch .moreDetailsContainer li.col3,
    #gtable-client_clientsearch .moreDetailsContainer li.col4,
    #gtable-client_clientsearch .moreDetailsContainer li.col5,
    #gtable-client_clientsearch .moreDetailsContainer li.col7,
    #gtable-client_clientsearch .moreDetailsContainer li.col8,
    #gtable-client_clientsearch.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client by gender and location*/
    .gtable-client_clientby.gtable .gtable-cell.col4,
    .gtable-client_clientby.gtable .gtable-cell.col5,
    .gtable-client_clientby.gtable .gtable-cell.col6,
    .gtable-client_clientby.gtable .gtable-cell.col7{
      display: none;
    }

    .gtable-client_clientby .moreDetailsContainer li.col4,
    .gtable-client_clientby .moreDetailsContainer li.col6,
    .gtable-client_clientby .moreDetailsContainer li.col6,
    .gtable-client_clientby .moreDetailsContainer li.col7,
    .gtable-client_clientby.gtable .moreDetailsContainer {
      display: block;
    }

    /* gclient - client list */
    #gtable-client_clientlist.gtable .gtable-cell.col2,
    #gtable-client_clientlist.gtable .gtable-cell.col3,
    #gtable-client_clientlist.gtable .gtable-cell.col4,
    #gtable-client_clientlist.gtable .gtable-cell.col5,
    #gtable-client_clientlist.gtable .gtable-cell.col7,
    #gtable-client_clientlist.gtable .gtable-cell.col8 {
      display: none;
    }

    #gtable-client_clientlist .moreDetailsContainer li.col2,
    #gtable-client_clientlist .moreDetailsContainer li.col3,
    #gtable-client_clientlist .moreDetailsContainer li.col4,
    #gtable-client_clientlist .moreDetailsContainer li.col5,
    #gtable-client_clientlist .moreDetailsContainer li.col7,
    #gtable-client_clientlist .moreDetailsContainer li.col8,
    #gtable-client_clientlist.gtable .moreDetailsContainer {
      display: block;
    }

    /* gclient - total sales by product */
    #gtable-client_totalproduct.gtable .gtable-cell.col5{
      display: none;
    }

    #gtable-client_totalproduct .moreDetailsContainer li.col5,
    #gtable-client_totalproduct.gtable .moreDetailsContainer {
      display: block;
    }

    /* gclient - new supplier */
    #gtable-client_supplierprod.gtable .gtable-cell.col5,
    #gtable-client_supplierprod.gtable .gtable-cell.col6{
      display: none;
    }

    #gtable-client_supplierprod .moreDetailsContainer li.col5,
    #gtable-client_supplierprod .moreDetailsContainer li.col6,
    #gtable-client_supplierprod.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client list details*/
    #gtable-client_clientlistdet.gtable .gtable-cell.col2,
    #gtable-client_clientlistdet.gtable .gtable-cell.col3,
    #gtable-client_clientlistdet.gtable .gtable-cell.col4,
    #gtable-client_clientlistdet.gtable .gtable-cell.col5,
    #gtable-client_clientlistdet.gtable .gtable-cell.col6,
    #gtable-client_clientlistdet.gtable .gtable-cell.col7,
    #gtable-client_clientlistdet.gtable .gtable-cell.col8 {
      display: none;
    }

    #gtable-client_clientlistdet .moreDetailsContainer li.col2,
    #gtable-client_clientlistdet .moreDetailsContainer li.col3,
    #gtable-client_clientlistdet .moreDetailsContainer li.col4,
    #gtable-client_clientlistdet .moreDetailsContainer li.col5,
    #gtable-client_clientlistdet .moreDetailsContainer li.col6,
    #gtable-client_clientlistdet .moreDetailsContainer li.col7,
    #gtable-client_clientlistdet .moreDetailsContainer li.col8,
    #gtable-client_clientlistdet.gtable .moreDetailsContainer {
      display: block;
    }

    /* gclient - communication log */
    #gtable-client_commulog.gtable .gtable-cell.col4{
      display: none;
    }

    #gtable-client_commulog .moreDetailsContainer li.col4,
    #gtable-client_commulog.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - product by supplier and category*/
    .gtable-client_prodby.gtable .gtable-cell.col3,
    .gtable-client_prodby.gtable .gtable-cell.col4,
    .gtable-client_prodby.gtable .gtable-cell.col5,
    .gtable-client_prodby.gtable .gtable-cell.col6 {
      display: none;
    }

    .gtable-client_prodby .moreDetailsContainer li.col3,
    .gtable-client_prodby .moreDetailsContainer li.col4,
    .gtable-client_prodby .moreDetailsContainer li.col5,
    .gtable-client_prodby .moreDetailsContainer li.col6,
    .gtable-client_prodby.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client products*/
    #gtable-client_clientprod.gtable .gtable-cell.col4,
    #gtable-client_clientprod.gtable .gtable-cell.col5,
    #gtable-client_clientprod.gtable .gtable-cell.col6 {
      display: none;
    }
  
    #gtable-client_clientprod .moreDetailsContainer li.col4,
    #gtable-client_clientprod .moreDetailsContainer li.col5,
    #gtable-client_clientprod .moreDetailsContainer li.col6,
    #gtable-client_clientprod.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - supplier search*/
    #gtable-client_suppsearch.gtable .gtable-cell.col3,
    #gtable-client_suppsearch.gtable .gtable-cell.col4,
    #gtable-client_suppsearch.gtable .gtable-cell.col5,
    #gtable-client_suppsearch.gtable .gtable-cell.col6,
    #gtable-client_suppsearch.gtable .gtable-cell.col7,
    #gtable-client_suppsearch.gtable .gtable-cell.col9{
      display: none;
    }

    #gtable-client_suppsearch .moreDetailsContainer li.col2,
    #gtable-client_suppsearch .moreDetailsContainer li.col3,
    #gtable-client_suppsearch .moreDetailsContainer li.col4,
    #gtable-client_suppsearch .moreDetailsContainer li.col5,
    #gtable-client_suppsearch .moreDetailsContainer li.col6,
    #gtable-client_suppsearch .moreDetailsContainer li.col7,
    #gtable-client_suppsearch .moreDetailsContainer li.col9,
    #gtable-client_suppsearch.gtable .moreDetailsContainer {
      display: block;
    }

    /*gtime - time entry */
    #gtable-time_timeentry.gtable .gtable-cell.col5,
    #gtable-time_timeentry.gtable .gtable-cell.col6,
    #gtable-time_timeentry.gtable .gtable-cell.col7 {
      display: none;
    }

    #gtable-time_timeentry .moreDetailsContainer li.col5,
    #gtable-time_timeentry .moreDetailsContainer li.col6,
    #gtable-time_timeentry .moreDetailsContainer li.col7,
    #gtable-time_timeentry.gtable .moreDetailsContainer {
      display: block;
    }
  }
  @media only screen and (min-width: 321px) and (max-width: 479px){
    #screen2.responsiveInfo{
      display: block
    }

    /* gcompany - departments */
    #gtable-departments.gtable .gtable-cell.col2,
    #gtable-departments.gtable .gtable-cell.col3{
      display: none;
    }
    #gtable-departments.gtable .moreDetailsContainer li.col2,
    #gtable-departments.gtable .moreDetailsContainer li.col3,
    #gtable-departments.gtable .moreDetailsContainer{
      display: block;
    }

    /* gcompany - employees */
    #gtable-employees.gtable .gtable-cell.col2,
    #gtable-employees.gtable .gtable-cell.col3,
    #gtable-employees.gtable .gtable-cell.col4,
    #gtable-employees.gtable .gtable-cell.col5,
    #gtable-employees.gtable .gtable-cell.col6{
      display: none;
    }
    #gtable-employees.gtable .moreDetailsContainer li.col2,
    #gtable-employees.gtable .moreDetailsContainer li.col3,
    #gtable-employees.gtable .moreDetailsContainer li.col4,
    #gtable-employees.gtable .moreDetailsContainer li.col5,
    #gtable-employees.gtable .moreDetailsContainer li.col6,
    #gtable-employees.gtable .moreDetailsContainer{
      display: block;
    }

    /* gclient - total sales by product */
    #gtable-client_totalproduct.gtable .gtable-cell.col2,
    #gtable-client_totalproduct.gtable .gtable-cell.col3,
    #gtable-client_totalproduct.gtable .gtable-cell.col5{
      display: none;
    }

    #gtable-client_totalproduct .moreDetailsContainer li.col2,
    #gtable-client_totalproduct .moreDetailsContainer li.col3,
    #gtable-client_totalproduct .moreDetailsContainer li.col5,
    #gtable-client_totalproduct.gtable .moreDetailsContainer {
      display: block;
    }

    /* gclient - new supplier */
    #gtable-client_supplierprod.gtable .gtable-cell.col3,
    #gtable-client_supplierprod.gtable .gtable-cell.col4,
    #gtable-client_supplierprod.gtable .gtable-cell.col5,
    #gtable-client_supplierprod.gtable .gtable-cell.col6{
      display: none;
    }

    #gtable-client_supplierprod .moreDetailsContainer li.col3,
    #gtable-client_supplierprod .moreDetailsContainer li.col4,
    #gtable-client_supplierprod .moreDetailsContainer li.col5,
    #gtable-client_supplierprod .moreDetailsContainer li.col6,
    #gtable-client_supplierprod.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - customer search*/
    #gtable-client_clientsearch.gtable .gtable-cell.col2,
    #gtable-client_clientsearch.gtable .gtable-cell.col3,
    #gtable-client_clientsearch.gtable .gtable-cell.col4,
    #gtable-client_clientsearch.gtable .gtable-cell.col5,
    #gtable-client_clientsearch.gtable .gtable-cell.col6,
    #gtable-client_clientsearch.gtable .gtable-cell.col7, 
    #gtable-client_clientsearch.gtable .gtable-cell.col8{  
      display: none;
    }

    #gtable-client_clientsearch .moreDetailsContainer li.col2,
    #gtable-client_clientsearch .moreDetailsContainer li.col3,
    #gtable-client_clientsearch .moreDetailsContainer li.col4,
    #gtable-client_clientsearch .moreDetailsContainer li.col5,
    #gtable-client_clientsearch .moreDetailsContainer li.col6,
    #gtable-client_clientsearch .moreDetailsContainer li.col7,
    #gtable-client_clientsearch .moreDetailsContainer li.col8,
    #gtable-client_clientsearch.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client by gender and location*/
    .gtable-client_clientby.gtable .gtable-cell.col2,
    .gtable-client_clientby.gtable .gtable-cell.col4,
    .gtable-client_clientby.gtable .gtable-cell.col5,
    .gtable-client_clientby.gtable .gtable-cell.col6,
    .gtable-client_clientby.gtable .gtable-cell.col7{
      display: none;
    }

    .gtable-client_clientby .moreDetailsContainer li.col2,
    .gtable-client_clientby .moreDetailsContainer li.col4,
    .gtable-client_clientby .moreDetailsContainer li.col6,
    .gtable-client_clientby .moreDetailsContainer li.col6,
    .gtable-client_clientby .moreDetailsContainer li.col7,
    .gtable-client_clientby.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client list*/
    #gtable-client_clientlist.gtable .gtable-cell.col2,
    #gtable-client_clientlist.gtable .gtable-cell.col3,
    #gtable-client_clientlist.gtable .gtable-cell.col4,
    #gtable-client_clientlist.gtable .gtable-cell.col5,
    #gtable-client_clientlist.gtable .gtable-cell.col6,
    #gtable-client_clientlist.gtable .gtable-cell.col7, 
    #gtable-client_clientlist.gtable .gtable-cell.col8{  
      display: none;
    }

    #gtable-client_clientlist .moreDetailsContainer li.col2,
    #gtable-client_clientlist .moreDetailsContainer li.col3,
    #gtable-client_clientlist .moreDetailsContainer li.col4,
    #gtable-client_clientlist .moreDetailsContainer li.col5,
    #gtable-client_clientlist .moreDetailsContainer li.col6,
    #gtable-client_clientlist .moreDetailsContainer li.col7,
    #gtable-client_clientlist .moreDetailsContainer li.col8,
    #gtable-client_clientlist.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client list details*/
    #gtable-client_clientlistdet.gtable .gtable-cell.col2,
    #gtable-client_clientlistdet.gtable .gtable-cell.col3,
    #gtable-client_clientlistdet.gtable .gtable-cell.col4,
    #gtable-client_clientlistdet.gtable .gtable-cell.col5,
    #gtable-client_clientlistdet.gtable .gtable-cell.col6,
    #gtable-client_clientlistdet.gtable .gtable-cell.col7,
    #gtable-client_clientlistdet.gtable .gtable-cell.col8 {
      display: none;
    }

    #gtable-client_clientlistdet .moreDetailsContainer li.col2,
    #gtable-client_clientlistdet .moreDetailsContainer li.col3,
    #gtable-client_clientlistdet .moreDetailsContainer li.col4,
    #gtable-client_clientlistdet .moreDetailsContainer li.col5,
    #gtable-client_clientlistdet .moreDetailsContainer li.col6,
    #gtable-client_clientlistdet .moreDetailsContainer li.col7,
    #gtable-client_clientlistdet .moreDetailsContainer li.col8,
    #gtable-client_clientlistdet.gtable .moreDetailsContainer {
      display: block;
    }

    /* gclient - communication log */
    #gtable-client_commulog.gtable .gtable-cell.col3,
    #gtable-client_commulog.gtable .gtable-cell.col4{
      display: none;
    }

    #gtable-client_commulog .moreDetailsContainer li.col3,
    #gtable-client_commulog .moreDetailsContainer li.col4,
    #gtable-client_commulog.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - product by supplier and category*/
    .gtable-client_prodby.gtable .gtable-cell.col2,
    .gtable-client_prodby.gtable .gtable-cell.col3,
    .gtable-client_prodby.gtable .gtable-cell.col4,
    .gtable-client_prodby.gtable .gtable-cell.col5,
    .gtable-client_prodby.gtable .gtable-cell.col6 {
      display: none;
    }

    .gtable-client_prodby .moreDetailsContainer li.col2,
    .gtable-client_prodby .moreDetailsContainer li.col3,
    .gtable-client_prodby .moreDetailsContainer li.col4,
    .gtable-client_prodby .moreDetailsContainer li.col5,
    .gtable-client_prodby .moreDetailsContainer li.col6,
    .gtable-client_prodby.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client products*/
    #gtable-client_clientprod.gtable .gtable-cell.col3,
    #gtable-client_clientprod.gtable .gtable-cell.col4,
    #gtable-client_clientprod.gtable .gtable-cell.col5,
    #gtable-client_clientprod.gtable .gtable-cell.col6 {
      display: none;
    }
  
    #gtable-client_clientprod .moreDetailsContainer li.col3,
    #gtable-client_clientprod .moreDetailsContainer li.col4,
    #gtable-client_clientprod .moreDetailsContainer li.col5,
    #gtable-client_clientprod .moreDetailsContainer li.col6,
    #gtable-client_clientprod.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - supplier search*/
    #gtable-client_suppsearch.gtable .gtable-cell.col3,
    #gtable-client_suppsearch.gtable .gtable-cell.col4,
    #gtable-client_suppsearch.gtable .gtable-cell.col5,
    #gtable-client_suppsearch.gtable .gtable-cell.col6,
    #gtable-client_suppsearch.gtable .gtable-cell.col7,
    #gtable-client_suppsearch.gtable .gtable-cell.col8,
    #gtable-client_suppsearch.gtable .gtable-cell.col9{
      display: none;
    }

    #gtable-client_suppsearch .moreDetailsContainer li.col3,
    #gtable-client_suppsearch .moreDetailsContainer li.col4,
    #gtable-client_suppsearch .moreDetailsContainer li.col5,
    #gtable-client_suppsearch .moreDetailsContainer li.col6,
    #gtable-client_suppsearch .moreDetailsContainer li.col7,
    #gtable-client_suppsearch .moreDetailsContainer li.col8,
    #gtable-client_suppsearch .moreDetailsContainer li.col9,
    #gtable-client_suppsearch.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - product category, contact and supplier type*/
    .gtable-client_bycattype.gtable .gtable-cell.col3,
    .gtable-client_bycattype.gtable .gtable-cell.col5{
      display: none;
    }

    .gtable-client_bycattype .moreDetailsContainer li.col3,
    .gtable-client_bycattype .moreDetailsContainer li.col5,
    .gtable-client_bycattype.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - total by category and date*/
    .gtable-client_totalby.gtable .gtable-cell.col3{
      display: none;
    }

    .gtable-client_totalby .moreDetailsContainer li.col3,
    .gtable-client_totalby.gtable .moreDetailsContainer {
      display: block;
    }

    /*gtime - quick clock*/
    #gtable-time_quickclock.gtable .gtable-cell.col3,
    #gtable-time_quickclock.gtable .gtable-cell.col4{
      display: none;
    }

    #gtable-time_quickclock .moreDetailsContainer li.col3,
    #gtable-time_quickclock .moreDetailsContainer li.col4,
    #gtable-time_quickclock.gtable .moreDetailsContainer {
      display: block;
    }

    /*gtime - time entry */
    #gtable-time_timeentry.gtable .gtable-cell.col2,
    #gtable-time_timeentry.gtable .gtable-cell.col3,
    #gtable-time_timeentry.gtable .gtable-cell.col5,
    #gtable-time_timeentry.gtable .gtable-cell.col6,
    #gtable-time_timeentry.gtable .gtable-cell.col7 {
      display: none;
    }

    #gtable-time_timeentry .moreDetailsContainer li.col2,
    #gtable-time_timeentry .moreDetailsContainer li.col3,
    #gtable-time_timeentry .moreDetailsContainer li.col5,
    #gtable-time_timeentry .moreDetailsContainer li.col6,
    #gtable-time_timeentry .moreDetailsContainer li.col7,
    #gtable-time_timeentry.gtable .moreDetailsContainer {
      display: block;
    }
  }
  @media only screen and (max-width: 320px){
    #screen1.responsiveInfo{
      display: block
    }

    /* gcompany - departments */
    #gtable-departments.gtable .gtable-cell.col2,
    #gtable-departments.gtable .gtable-cell.col3{
      display: none;
    }
    #gtable-departments.gtable .moreDetailsContainer li.col2,
    #gtable-departments.gtable .moreDetailsContainer li.col3,
    #gtable-departments.gtable .moreDetailsContainer{
      display: block;
    }

    /* gcompany - employees */
    #gtable-employees.gtable .gtable-cell.col2,
    #gtable-employees.gtable .gtable-cell.col3,
    #gtable-employees.gtable .gtable-cell.col4,
    #gtable-employees.gtable .gtable-cell.col5,
    #gtable-employees.gtable .gtable-cell.col6{
      display: none;
    }
    #gtable-employees.gtable .moreDetailsContainer li.col2,
    #gtable-employees.gtable .moreDetailsContainer li.col3,
    #gtable-employees.gtable .moreDetailsContainer li.col4,
    #gtable-employees.gtable .moreDetailsContainer li.col5,
    #gtable-employees.gtable .moreDetailsContainer li.col6,
    #gtable-employees.gtable .moreDetailsContainer{
      display: block;
    }

    /* gclient - total sales by product */
    #gtable-client_totalproduct.gtable .gtable-cell.col1,
    #gtable-client_totalproduct.gtable .gtable-cell.col2,
    #gtable-client_totalproduct.gtable .gtable-cell.col3,
    #gtable-client_totalproduct.gtable .gtable-cell.col5{
      display: none;
    }

    #gtable-client_totalproduct .moreDetailsContainer li.col1,
    #gtable-client_totalproduct .moreDetailsContainer li.col2,
    #gtable-client_totalproduct .moreDetailsContainer li.col3,
    #gtable-client_totalproduct .moreDetailsContainer li.col5,
    #gtable-client_totalproduct.gtable .moreDetailsContainer {
      display: block;
    }

    /* gclient - new supplier */
    #gtable-client_supplierprod.gtable .gtable-cell.col3,
    #gtable-client_supplierprod.gtable .gtable-cell.col4,
    #gtable-client_supplierprod.gtable .gtable-cell.col5,
    #gtable-client_supplierprod.gtable .gtable-cell.col6{
      display: none;
    }

    #gtable-client_supplierprod .moreDetailsContainer li.col3,
    #gtable-client_supplierprod .moreDetailsContainer li.col4,
    #gtable-client_supplierprod .moreDetailsContainer li.col5,
    #gtable-client_supplierprod .moreDetailsContainer li.col6,
    #gtable-client_supplierprod.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - total by category and date*/
    .gtable-client_totalby.gtable .gtable-cell.col2,
    .gtable-client_totalby.gtable .gtable-cell.col3{
      display: none;
    }

    .gtable-client_totalby .moreDetailsContainer li.col2,
    .gtable-client_totalby .moreDetailsContainer li.col3,
    .gtable-client_totalby.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - customer search*/
    #gtable-client_clientsearch.gtable .gtable-cell.col2,
    #gtable-client_clientsearch.gtable .gtable-cell.col3,
    #gtable-client_clientsearch.gtable .gtable-cell.col4,
    #gtable-client_clientsearch.gtable .gtable-cell.col5,
    #gtable-client_clientsearch.gtable .gtable-cell.col6,
    #gtable-client_clientsearch.gtable .gtable-cell.col7, 
    #gtable-client_clientsearch.gtable .gtable-cell.col8{  
      display: none;
    }

    #gtable-client_clientsearch .moreDetailsContainer li.col2,
    #gtable-client_clientsearch .moreDetailsContainer li.col3,
    #gtable-client_clientsearch .moreDetailsContainer li.col4,
    #gtable-client_clientsearch .moreDetailsContainer li.col5,
    #gtable-client_clientsearch .moreDetailsContainer li.col6,
    #gtable-client_clientsearch .moreDetailsContainer li.col7,
    #gtable-client_clientsearch .moreDetailsContainer li.col8,
    #gtable-client_clientsearch.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client by gender and location*/
    .gtable-client_clientby.gtable .gtable-cell.col1,
    .gtable-client_clientby.gtable .gtable-cell.col2,
    .gtable-client_clientby.gtable .gtable-cell.col4,
    .gtable-client_clientby.gtable .gtable-cell.col5,
    .gtable-client_clientby.gtable .gtable-cell.col6,
    .gtable-client_clientby.gtable .gtable-cell.col7{
      display: none;
    }

    .gtable-client_clientby .moreDetailsContainer li.col1,
    .gtable-client_clientby .moreDetailsContainer li.col2,
    .gtable-client_clientby .moreDetailsContainer li.col4,
    .gtable-client_clientby .moreDetailsContainer li.col6,
    .gtable-client_clientby .moreDetailsContainer li.col6,
    .gtable-client_clientby .moreDetailsContainer li.col7,
    .gtable-client_clientby.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client list*/
    #gtable-client_clientlist.gtable .gtable-cell.col2,
    #gtable-client_clientlist.gtable .gtable-cell.col3,
    #gtable-client_clientlist.gtable .gtable-cell.col4,
    #gtable-client_clientlist.gtable .gtable-cell.col5,
    #gtable-client_clientlist.gtable .gtable-cell.col6,
    #gtable-client_clientlist.gtable .gtable-cell.col7, 
    #gtable-client_clientlist.gtable .gtable-cell.col8{  
      display: none;
    }

    #gtable-client_clientlist .moreDetailsContainer li.col2,
    #gtable-client_clientlist .moreDetailsContainer li.col3,
    #gtable-client_clientlist .moreDetailsContainer li.col4,
    #gtable-client_clientlist .moreDetailsContainer li.col5,
    #gtable-client_clientlist .moreDetailsContainer li.col6,
    #gtable-client_clientlist .moreDetailsContainer li.col7,
    #gtable-client_clientlist .moreDetailsContainer li.col8,
    #gtable-client_clientlist.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client list details*/
    #gtable-client_clientlistdet.gtable .gtable-cell.col2,
    #gtable-client_clientlistdet.gtable .gtable-cell.col3,
    #gtable-client_clientlistdet.gtable .gtable-cell.col4,
    #gtable-client_clientlistdet.gtable .gtable-cell.col5,
    #gtable-client_clientlistdet.gtable .gtable-cell.col6,
    #gtable-client_clientlistdet.gtable .gtable-cell.col7,
    #gtable-client_clientlistdet.gtable .gtable-cell.col8,
    #gtable-client_clientlistdet.gtable .gtable-cell.col9{
      display: none;
    }

    #gtable-client_clientlistdet .moreDetailsContainer li.col2,
    #gtable-client_clientlistdet .moreDetailsContainer li.col3,
    #gtable-client_clientlistdet .moreDetailsContainer li.col4,
    #gtable-client_clientlistdet .moreDetailsContainer li.col5,
    #gtable-client_clientlistdet .moreDetailsContainer li.col6,
    #gtable-client_clientlistdet .moreDetailsContainer li.col7,
    #gtable-client_clientlistdet .moreDetailsContainer li.col8,
    #gtable-client_clientlistdet .moreDetailsContainer li.col9,
    #gtable-client_clientlistdet.gtable .moreDetailsContainer {
      display: block;
    }

     /*gclient - product by supplier and category*/
    .gtable-client_prodby.gtable .gtable-cell.col2,
    .gtable-client_prodby.gtable .gtable-cell.col3,
    .gtable-client_prodby.gtable .gtable-cell.col4,
    .gtable-client_prodby.gtable .gtable-cell.col5,
    .gtable-client_prodby.gtable .gtable-cell.col6 {
      display: none;
    }

    .gtable-client_prodby .moreDetailsContainer li.col2,
    .gtable-client_prodby .moreDetailsContainer li.col3,
    .gtable-client_prodby .moreDetailsContainer li.col4,
    .gtable-client_prodby .moreDetailsContainer li.col5,
    .gtable-client_prodby .moreDetailsContainer li.col6,
    .gtable-client_prodby.gtable .moreDetailsContainer {
      display: block;
    }

    /* gclient - communication log */
    #gtable-client_commulog.gtable .gtable-cell.col1,  
    #gtable-client_commulog.gtable .gtable-cell.col3,  
    #gtable-client_commulog.gtable .gtable-cell.col4{
      display: none;
    }

    #gtable-client_commulog .moreDetailsContainer li.col1,
    #gtable-client_commulog .moreDetailsContainer li.col3,
    #gtable-client_commulog .moreDetailsContainer li.col4,
    #gtable-client_commulog.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - client products*/
    #gtable-client_clientprod.gtable .gtable-cell.col2,
    #gtable-client_clientprod.gtable .gtable-cell.col3,
    #gtable-client_clientprod.gtable .gtable-cell.col4,
    #gtable-client_clientprod.gtable .gtable-cell.col5,
    #gtable-client_clientprod.gtable .gtable-cell.col6 {
      display: none;
    }
  
    #gtable-client_clientprod .moreDetailsContainer li.col2,
    #gtable-client_clientprod .moreDetailsContainer li.col3,
    #gtable-client_clientprod .moreDetailsContainer li.col4,
    #gtable-client_clientprod .moreDetailsContainer li.col5,
    #gtable-client_clientprod .moreDetailsContainer li.col6,
    #gtable-client_clientprod.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - supplier search*/
    #gtable-client_suppsearch.gtable .gtable-cell.col3,
    #gtable-client_suppsearch.gtable .gtable-cell.col4,
    #gtable-client_suppsearch.gtable .gtable-cell.col5,
    #gtable-client_suppsearch.gtable .gtable-cell.col6,
    #gtable-client_suppsearch.gtable .gtable-cell.col7,
    #gtable-client_suppsearch.gtable .gtable-cell.col8,
    #gtable-client_suppsearch.gtable .gtable-cell.col9{
      display: none;
    }

    #gtable-client_suppsearch .moreDetailsContainer li.col3,
    #gtable-client_suppsearch .moreDetailsContainer li.col4,
    #gtable-client_suppsearch .moreDetailsContainer li.col5,
    #gtable-client_suppsearch .moreDetailsContainer li.col6,
    #gtable-client_suppsearch .moreDetailsContainer li.col7,
    #gtable-client_suppsearch .moreDetailsContainer li.col8,
    #gtable-client_suppsearch .moreDetailsContainer li.col9,
    #gtable-client_suppsearch.gtable .moreDetailsContainer {
      display: block;
    }

    /*gclient - product category, contact and supplier type*/
    .gtable-client_bycattype.gtable .gtable-cell.col3,
    .gtable-client_bycattype.gtable .gtable-cell.col4,
    .gtable-client_bycattype.gtable .gtable-cell.col5{
      display: none;
    }

    .gtable-client_bycattype .moreDetailsContainer li.col3,
    .gtable-client_bycattype .moreDetailsContainer li.col4,
    .gtable-client_bycattype .moreDetailsContainer li.col5,
    .gtable-client_bycattype.gtable .moreDetailsContainer {
      display: block;
    }

    /*gtime - quick clock*/
    #gtable-time_quickclock.gtable .gtable-cell.col3,
    #gtable-time_quickclock.gtable .gtable-cell.col4{
      display: none;
    }

    #gtable-time_quickclock .moreDetailsContainer li.col3,
    #gtable-time_quickclock .moreDetailsContainer li.col4,
    #gtable-time_quickclock.gtable .moreDetailsContainer {
      display: block;
    }

    /*gtime - time entry */
    #gtable-time_timeentry.gtable .gtable-cell.col2,
    #gtable-time_timeentry.gtable .gtable-cell.col3,
    #gtable-time_timeentry.gtable .gtable-cell.col5,
    #gtable-time_timeentry.gtable .gtable-cell.col6,
    #gtable-time_timeentry.gtable .gtable-cell.col7 {
      display: none;
    }

    #gtable-time_timeentry .moreDetailsContainer li.col2,
    #gtable-time_timeentry .moreDetailsContainer li.col3,
    #gtable-time_timeentry .moreDetailsContainer li.col5,
    #gtable-time_timeentry .moreDetailsContainer li.col6,
    #gtable-time_timeentry .moreDetailsContainer li.col7,
    #gtable-time_timeentry.gtable .moreDetailsContainer {
      display: block;
    }
  }

  @media only screen and (min-width: 768px) {
    .table-nostyle td{
      display: table-cell;
    }

    /*gclient - client list details*/
    #gtable-client_clientlistdet.gtable .gtable-cell.col5,
    #gtable-client_clientlistdet.gtable .gtable-cell.col6,
    #gtable-client_clientlistdet.gtable .gtable-cell.col7 {  
      display: none;
    }

    #gtable-client_clientlistdet .moreDetailsContainer li.col5,
    #gtable-client_clientlistdet .moreDetailsContainer li.col6,
    #gtable-client_clientlistdet .moreDetailsContainer li.col7,
    #gtable-client_clientlistdet.gtable .moreDetailsContainer {
      display: block;
    }


  }
